<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name="com.codringreen.receptionloading.CodrinGreenApplication"
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:roundIcon="@drawable/icon"
        android:theme="@style/Theme.CodrinGreenReception"
        tools:targetApi="p">
        <activity
            android:name=".view.activities.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CodrinGreenReception"
            tools:ignore="RedundantLabel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activities.LoginActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CodrinGreenReception"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".view.activities.DashboardActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.CodrinGreenReception"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".view.activities.FarmActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.CodrinGreenReception"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".view.activities.CreateFarmActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.CodrinGreenReception"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".view.activities.FarmDataActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.CodrinGreenReception"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>